.parent{
    width: 600px;
    height: 300px;
    background-color: #ccc ;
    color: rgb(1, 11, 62) ;
    margin: 30px auto;
   
    
    margin: 10px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    
}

.parent div {
    background-color: lightgreen;
    height: calc((80%)/3);
    
    padding: 10px;
}
.parent .one{
    align-self: self-end;
}
.parent .two{
    width: 50%;
}

.parent .three{
    align-self: self-end;
}

