.parent{
    margin: 10px auto  ;
    width: 500px;
    background-color: rgb(48, 27, 237);
    padding: 20px ;
    height: 400px;
    
    
    

}
.row0{
    background-color: rgb(111,222,3,.4);
    width: calc(100% );
    margin: 10px auto;
    float: left;
    
}
.row1{
    background-color: rgb(111,222,3,.4);
    width: calc((100% -50px)/3);
    margin: 10px  10px;
    float: left;
    
}
.row2{
    background-color: rgb(111,222,3,.4);
    width: calc((100% - 30px)/2);
    margin: 10px  10px;
    float: left;
}
.row3{
    background-color: rgb(111,222,3,.4);
    width: calc((100% - 20px)/4);
    margin: 10px 10px ;
    float: left;
}