div{
    display: flex;
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body div::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid blue;
    border-right-color: transparent;
    transition: transform 0.5s linear;

    
}
body div::after{
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 50%;
    border: 10px solid red;
    border-left-color: transparent;
    transition: transform 0.5s linear 0.5s;
    
}
body div:hover::before{
    transform: rotate(1turn);

    
}
body div:hover::after{
    transform: rotate(1turn);

    
}